build/
assets/*
!assets/tracks/
assets/tracks/*
!assets/tracks/cortex-vortex/
!assets/tracks/cortex-vortex/CVortex Arcade All.lev
!assets/tracks/cortex-vortex/CVortex Arcade All.vrm
debug/
*.exe
*.o
*.gch
*.a
*.obj
*.pdb
*.ilk
*.d
*.depend
*.map
compile_commands.json
.venv/
.cache/
.vs/
.idea/
*.swp
*~
*.log
memcards/
__pycache__/
